---
import { getTasks } from "@data/pocketbase";
import ButtonDeleteTask from "@components/app/tasks/ButtonDeleteTask.astro";
import ButtonCompleteTask from "@components/app/tasks/ButtonCompleteTask.astro";
import ButtonStarTask from '@components/app/tasks/ButtonStarTask.astro'

const { project_id, done } = Astro.props;

const tasks = await getTasks({ project_id, done });
console.log('====================================== TaksList : line 10 ')
console.log(Astro.props);
---

<div>
  {
    tasks.length === 0 && (
      <p class="text-center text-zinc-900 dark:text-white pb-10">Nothing yet</p>
    )
  }

  <ul class="space-y-6 mb-10">
    {
      tasks.map((task) => (
        <li>
          <div class="flex justify-between bg-blue-800 space-x-4 items-center">
            <div>
              <ButtonCompleteTask task={task} />
            </div>
            
            <div>
              <ButtonStarTask active={true} task={task} />
            </div>

            <div class="flex-1">{task.text}</div>
            <div>
              <ButtonDeleteTask task={task} />
            </div>
          </div>
        </li>
      ))
    }
  </ul>
</div>
